@model MusicWorld.Data.Models.Song

@{
    ViewData["Title"] = "Edit";
}
<br />
<h3>Edit Song</h3>
 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist">Artist</label>
                @Html.DropDownListFor(model => model.ArtistId, ViewBag.ArtistId as SelectList, "--Select Artist--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Album">Album</label>
                @Html.DropDownListFor(model => model.AlbumId, new SelectList(" "), "--Select Album--", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $("#ArtistId").change(function () {
            $.get("/Songs/GetAlbumList", { ArtistId: $("#ArtistId").val() }, function (data) {
                $("#AlbumId").empty();

                if (data.length === 0) {
                    $("#AlbumId").append("<option disabled='disabled'>"+"No Albums"+"</option>")
                }
                else {
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        $("#AlbumId").append("<option >" + data[i].name + "</option>")
                    }
                }
            });
        })
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
