@model MusicWorld.View.Models.CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}
 

<h4 style="color: #69d2e7;">Create Account</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" style="margin:0 auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  style="color: #69d2e7; font-size:20px;"asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  style="color: #69d2e7;font-size:20px;" asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  style="color: #69d2e7;font-size:20px;" asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  style="color: #69d2e7;font-size:20px;" asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div> 
            <div>
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
