@model  string
@{
    ViewData["Title"] = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error : </h4>
    <hr />
    <h5>
        User with Name = "@Model" cannot be found
    </h5>
</div>
<a asp-action="Create" asp-controller="Users" class="btn btn-outline-success" style="width:auto">
    Click here to create account
</a>
