@model MusicWorld.View.Models.CreateArtistViewModel

@{
    ViewData["Title"] = "Create";
}
 

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded"style="color:#69D2E7;">Create Artist</h1>
<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Name" class="text-primary h5">Name</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="name"
                   placeholder="Enter Name..."
                   asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Description" class="text-primary h5">Description</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="manufacturedOn"
                   placeholder="Enter Description..."
                   asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Image" class="text-primary h5">Picture</label>
            </div>
            <input type="file"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Select Image"
                   asp-for="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Create Artist</button>
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
